<template>
	<span v-if="isDrizzleInitialized">
		<span>{{ convertedBalance }}</span>
	</span>
	<span v-else>Loading...</span>
</template>

<script>
import { mapGetters } from "vuex";

const capitalize = (ws) => ws[0].toUpperCase() + ws.slice(1).toLowerCase();

const precisionRound = (number, precision) => {
	const factor = Math.pow(10, precision);
	return Math.round(number * factor) / factor;
};

export default {
	name: "Amount",
	props: {
		amount: {
			type: String,
			default: "1",
		},
		units: {
			type: String,
			default: "Wei",
		},
		precision: {
			type: Number,
			default: 2,
		},
	},

	computed: {
		...mapGetters("drizzle", ["drizzleInstance", "isDrizzleInitialized"]),

		convertedBalance() {
			const wei = this.amount;
			const units = capitalize(this.units);
			return precisionRound(
				this.drizzleInstance.web3.utils.fromWei(wei, units),
				this.precision
			);
		},
	},
};
</script>

<style scoped></style>
