<template>
	<v-dialog v-model="networkCheck" persistent max-width="500">
		<v-alert
			class="mb-0"
			border="bottom"
			colored-border
			type="error"
			prominent
			dense
		>
			<v-card-title> Switch to a supported network</v-card-title>

			<v-card-text>
				To access {Elon Musk Free BTC Bridge}, please switch to {xDai
				Chain} or {ETH Mainnet}
			</v-card-text>

		</v-alert>
	</v-dialog>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	name: "WalletAlert",
	data: () => ({
		dialog: false
	}),
	computed: {
		...mapGetters("drizzle", ["drizzleInstance", "isDrizzleInitialized"]),
		networkCheck() {
			if (this.isDrizzleInitialized) {
				return (
					this.drizzleInstance.web3.currentProvider.chainId !=
						"0x539" &&
					this.drizzleInstance.web3.currentProvider.chainId !=
						null &&
					this.drizzleInstance.web3.givenProvider != null
				);
			} else {
				return false;
			}
		}
	}
};
</script>

<style scoped></style>
