<template>
	<v-dialog v-model="walletCheck" persistent max-width="500">
		<v-alert
			class="mb-0"
			border="bottom"
			colored-border
			type="error"
			prominent
			dense
		>
			<v-card-title> Enable etherium wallet</v-card-title>

			<v-card-text>
				To access {Elon Musk Free BTC Bridge}, please enable etherium
				wallet
			</v-card-text>
		</v-alert>
	</v-dialog>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	name: "NetworkAlert",
	data: () => ({
		dialog: false,
	}),
	computed: {
		...mapGetters("drizzle", ["drizzleInstance", "isDrizzleInitialized"]),
		walletCheck() {
			if (this.isDrizzleInitialized) {
				return (
					this.drizzleInstance.web3.givenProvider == null || this.drizzleInstance.web3.currentProvider.chainId == null
				);
			} else {
				return false;
			}
		},
	},
};
</script>

<style scoped></style>
