<template>
  <v-container fluid class="fill-height">
    <particles-bg
      style="position: fixed; zIndex: 0; top: 0; left: 0;"
      color="3F51B5"
      :num="ParticlesNum"
      type="cobweb"
      :bg="true"
    />
    <v-row
      class="d-flex justify-space-around fill-height"
      no-gutters
      align="center"
    >
      <div class="pa-3">
        <h1 class="main--text text-h2 font-weight-bold">Elon Musk</h1>
        <h1 class="main--text text-h1 font-weight-bold">Free BTC</h1>
        <h6 class="main--text text-h6">{{ $t("Info on a main page") }}</h6>
      </div>
      <v-card
        elevation="4"
        height="65vh"
        class="flex-grow-1"
        max-width="515px"
        min-height="400px"
      >
        <v-container
          class="px-lg-16 fill-height d-flex align-stretch flex-column justify-space-around"
        >
          <v-card class="my-2 flex-shrink-1">
            <v-row no-gutters align="center">
              <v-icon x-large black class="ml-3">mdi-ethereum</v-icon>
              <v-col>
                <v-card-title class="overline py-2 pb-1 mb-n5 font-weight-bold">
                  {{ $t("From") }}
                </v-card-title>
                <v-card-title class="py-2 pt-1 mb-n3">
                  <i18n
                    path="ETH Network"
                    tag="span"
                    class="text-h5 font-weight-bold"
                  >
                    <template v-slot:network>
                      <span class="text-h5">{{ $t("Network") }}</span>
                    </template>
                  </i18n>
                </v-card-title>
                <v-card-text class="main--text">
                  {{ $t("Balance") }}:
                  <span class="font-weight-bold">0.02 ETH20</span>
                </v-card-text>
              </v-col>
              <v-icon size="32" black class="mr-6"
                >mdi-information-outline</v-icon
              >
            </v-row>
          </v-card>
          <v-card class="my-2 flex-shrink-1">
            <v-row no-gutters align="center">
              <v-icon x-large black class="ml-3">mdi-ethereum</v-icon>
              <v-col>
                <v-card-title class="overline py-2 pb-1 mb-n5 font-weight-bold">
                  {{ $t("To") }}
                </v-card-title>
                <v-card-title class="py-2 pt-1 mb-n3">
                  <i18n
                    path="ETH Network"
                    tag="span"
                    class="text-h5 font-weight-bold"
                  >
                    <template v-slot:network>
                      <span class="text-h5">{{ $t("Network") }}</span>
                    </template>
                  </i18n>
                </v-card-title>
                <v-card-text class="main--text">
                  {{ $t("Balance") }}:
                  <span class="font-weight-bold">0.02 ETH20</span>
                </v-card-text>
              </v-col>
              <v-icon size="32" black class="mr-6"
                >mdi-information-outline</v-icon
              >
            </v-row>
          </v-card>
          <v-divider class="mb-2" />
          <v-text-field
            class="flex-grow-0"
            color="main"
            :placeholder="$t('Amount input')"
            :label="$t('Amount')"
            outlined
          />
          <v-btn
            dark
            block
            class="flex-shrink-1 mt-n5"
            max-height="64px"
            color="success"
            >{{ $t("Transfer") }}</v-btn
          >
        </v-container>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import { ParticlesBg } from "particles-bg-vue";
export default {
  name: "Home",
  data: () => ({
    ParticlesNum:
      (window.innerHeight * window.innerWidth) / 8640 < 300
        ? (window.innerHeight * window.innerWidth) / 8640
        : 600,
    dialog: false,
  }),
  components: {
    ParticlesBg,
  },
  mounted() {
    console.log(ParticlesBg);
  },
};
</script>

<style></style>
