<template>
	<v-app>
		<v-app-bar app dark color="main">
			<!-- -->
			<v-avatar size="44" class="ml-sm-16 ml-n2 mr-sm-0 mr-2" dark>
				<v-img src="../assets/logo.svg" />
			</v-avatar>
			<v-toolbar-title style="overflow: visible" class="mr-4 mx-sm-10"
				>elon-btc.wtf</v-toolbar-title
			>
			<v-tabs class="" left>
				<v-tab :to="`/${locales[locale]}/`" exact>{{
					$t("Exchange")
				}}</v-tab>
			</v-tabs>

			<v-spacer></v-spacer>

			<v-menu offset-y transition="slide-y-transition" open-on-hover>
				<template v-slot:activator="{ on, attrs }">
					<v-icon size="28" v-bind="attrs" v-on="on"
						>mdi-translate</v-icon
					>
				</template>
				<v-list min-width="64px" nav>
					<v-list-item>
						<v-list-item-title
							v-text="'TRANSlATIONS'"
							class="text-subtitle-2"
						/>
					</v-list-item>
					<v-list-item-group
						v-model="locale"
						color="main"
						@change="changeLanguage(locale)"
					>
						<v-list-item
							v-for="(locale, index) in locales"
							:key="index"
						>
							<v-list-item-title
								v-text="getDeatailedLang(locale)"
							/>
						</v-list-item>
					</v-list-item-group>
				</v-list>
			</v-menu>
			<v-skeleton-loader
				v-if="
					isDrizzleInitialized == false || activeAccount === undefined
				"
				class="ml-2 mr-sm-16"
				style="overflow: visible"
				type="chip"
			/>
			<v-tooltip bottom v-else>
				<template v-slot:activator="{ on, attrs }">
					<div>
						<v-chip
							v-bind="attrs"
							v-on="on"
							color="wallet"
							class="ml-2 mr-sm-16"
							style="overflow: visible"
							>{{ ActiveAccountToText }}</v-chip
						>
					</div>
				</template>
				<span>
					<CoinAmount :amount="activeBalance" units="Ether" />
					ETH
				</span>
			</v-tooltip>
		</v-app-bar>

		<!-- Sizes your content based upon application components -->
		<v-main>
			<!-- Provides the application the proper gutter -->
			<!-- If using vue-router -->
			<transition>
				<router-view></router-view>
			</transition>
			<NetworkAlert />
			<WalletAlert />
		</v-main>

		<v-footer app paddles dark color="main">
			<v-container
				fluid
				class="pa-0 d-flex justify-space-around align-center"
			>
				<div class="text-subtitle-2 d-flex align-center">
					<v-avatar dark size="44" class="mr-3">
						<v-img src="../assets/logo.svg" />
					</v-avatar>
					<span> elon-btc.wtf </span>
				</div>
				<div>
					2021 — <span class="text-subtitle-2">NTI Fintech</span>
				</div>
				<div>
					<v-avatar dark rounded size="28">
						<v-img src="../assets/photocamera.svg" />
					</v-avatar>
					<v-avatar dark tile size="28" class="mx-5">
						<v-img src="../assets/telegram_plane.svg" />
					</v-avatar>
					<v-avatar dark size="28">
						<v-img src="../assets/some_icon.svg" />
					</v-avatar>
				</div>
			</v-container>
		</v-footer>
	</v-app>
</template>

<script>
// @ is an alias to /src
import { mapGetters } from "vuex";
import supportedLocales from "../locales/supported-locales";
import Amount from "../components/Amount.vue";
import NetworkAlert from "../components/NetworkAlert.vue";
import WalletAlert from "../components/WalletAlert";

export default {
	name: "UI",
	components: {
		CoinAmount: Amount,
		NetworkAlert,
		WalletAlert
	},
	data: () => ({
		locale: "loading",
		locales: Object.keys(supportedLocales),
		transitionName: "slide-left",
	}),
	mounted() {
		this.locale = this.locales.indexOf(this.$i18n.locale);
		console.log(this.$i18n, supportedLocales);
	},
	created() {
		console.log(this.contractInstances);
	},
	methods: {
		getDeatailedLang(locale) {
			return supportedLocales[locale];
		},
		changeLanguage(locale) {
			this.$router.push({
				params: {
					lang: this.locales[locale],
				},
			});
		},
	},
	computed: {
		...mapGetters("drizzle", ["isDrizzleInitialized"]),
		...mapGetters("accounts", ["activeAccount", "activeBalance"]),
		...mapGetters("contracts", ["contractInstances"]),
		ActiveAccountToText() {
			return (
				this.activeAccount.substr(0, 6) +
				"..." +
				this.activeAccount.substr(
					this.activeAccount.length - 4,
					this.activeAccount.length
				)
			);
		},
	},
};
</script>

<style></style>
